{% extends 'notes/layout.html' %}
{% load static %}
{% block title %}Recently Deleted{% endblock %}

{% block content %}

<div id="trash-icon">
    <button type="button" id="delete-btn">Delete All Permanently</button>
    <img style="vertical-align:middle" src="{% static 'notes/trash-can.png' %}" width="50" height="50">
</div>

<div id="switch-div">
  <span id="sw-desc">Notes View</span>
  <label class="switch">
    <input type="checkbox">
    <span id="sw" class="slider"></span>
  </label>
</div>


<div id="notes-div" class="notes-view">
    {% for note in notes %}
    <div class="note-item" id="note-{{ note.pkey }}">
        <div class="note-header">
          <b id="title-{{note.pkey}}">{{ note.title }}</b>
          <div class="note-btns" id="note-btns-{{ note.pkey }}">
            <button type="button" class="restore-btn" id="restore-btn-{{note.pkey}}">Restore</button>
          </div>
        </div>
        
        <div class="note-content" id="content-{{note.pkey}}">
          {{ note.content|safe }}
        </div>
    </div>
    {% endfor %}
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <br>
    <div id="create-note-index">
      <div id="form-create">
          <input id="form-title" type="text" name="form-title" required>
          <br><br>
          <p id="form-output"></p>
          <input id="save-button" type="submit" value="Save"> 
      </div>
    </div>
    
  </div>

</div>

{% endblock %}


{% block script %}
    <script src="{% static 'notes/deletednotes.js' %}" ></script>
{% endblock %}
